.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  /* Style the input fields */
  .input-field {
    width: 25%;
    padding: 10px;
    outline: none;
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 0 5px 5px 0;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  .main{
      background-color:black;
      margin: 150px;
      color: white;
      width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-left: 38%;
  }
  .error{
    color:red;
    font-size: 0.9rem;
  }
  button[type="submit"] {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
    
}
h1{
  margin-left: 40%;
}